<div class="container">
  <h2>ADD BOOKS HERE..</h2>
   <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>BOOK NAME:</th>
        <th>AUTHOR NAME:</th>
        <th>CATEGORY:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" class="form-control" id={{bname}} placeholder="Enter Book Name Here" name="name"></td>
        <td><input type="text" class="form-control" id={{bauthor}} placeholder="Enter Author Name Here" name="author"></td>
        <td><input type="text" class="form-control" id={{bcategory}} placeholder="Enter category Here" name="category"></td>
        <td><button type="button" class="btn btn-primary"> ADD BOOK </button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>BOOKS ARE IN DATABASE..</h2>
   <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>BOOK NAME:</th>
        <th>AUTHOR NAME:</th>
        <th>CATEGORY:</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>