<div class="container">
  <h2>ADD AUTHORS HERE..</h2>
   <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>AUTHOR NAME:</th>
        <th>AUTHOR AGE:</th>
        <th>CATEGORY:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" class="form-control" id="name" placeholder="Enter Author Name Here" name="name"></td>
        <td><input type="number" class="form-control" id="age" placeholder="Enter Author Age Here" name="age"></td>
        <td><input type="text" class="form-control" id="category" placeholder="Enter category Here" name="category"></td>
        <td><button type="button" class="btn btn-primary"> ADD AUTHOR </button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>AUTHORS ARE IN DATABASE..</h2>
   <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>AUTHOR NAME:</th>
  		<th>AUTHOR AGE:</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
        <td></td>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>